<!DOCTYPE html>
<html ng-app="guvApi">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>US Government APIs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-cloak>
    <div class="container" ng-controller="listApi">
      <div class="title">
        <div class="text-center">
          <h2>US Government APIs</h2>
        </div>
        <!-- <div class="search">
          <input type="text" placeholder="Fliter by Search" ng-model="searchText">
        </div> -->
        <!-- <i class="fa fa-search fa-2x" aria-hidden="true"></i> -->
      </div>
      <div class="content">
        <div class="col-xs-12 select">
          <select value="Filter by organization" ng-options="temp.name for temp in info" ng-model="selected">
            <option value="">Filter by Organization - Show all</option>
          </select>
        </div>
        <ul>
          <div class="org" ng-repeat="name in info | filter:selected.name" >
            <div class="orgname col-xs-12">
              <h3 class="text-center">{{name.name}}</h3>
            </div>
            <li ng-repeat="api in name.apis" ng-class-even="'even'" ng-class-odd="'odd'">
              <div class="api col-xs-12">
                <div class="col-sm-3 col-xs-2 text-right">
                  <b class="title">API:</b>
                </div>
                <div class="col-sm-9 col-xs-10">
                  <b class="apiname">{{api.name}}</b>
                </div>
              </div>
              <div class="url col-xs-12">
                <div class="col-sm-3 col-xs-2 text-right">
                  <b class="title">URL:</b>
                </div>
                <div class="col-sm-9 col-xs-10">
                  <i><a href="{{api.url}}" target="_blank">{{api.url}}</a></i>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
